<ion-view view-title="Children Wizard" ng-controller="ChildrenWizardCtrl">
    
<style>
    #resplandorblanco{
        -moz-box-shadow: 0px 0px 30px #008B8B; 
        -webkit-box-shadow: 0px 0px 30px #008B8B; 
        box-shadow: 0px 0px 30px #008B8B;
    }
    #resplandornaranja{
        -moz-box-shadow: 0px 0px 30px #E77C00; 
        -webkit-box-shadow: 0px 0px 30px #E77C00; 
        box-shadow: 0px 0px 30px #E77C00;
    }
    #resplandorrojo{
        -moz-box-shadow: 0px 0px 30px #E70B00; 
        -webkit-box-shadow: 0px 0px 30px #E70B00; 
        box-shadow: 0px 0px 30px #E70B00;
    }   
</style>
<ion-nav-buttons side="left">        
   
</ion-nav-buttons>

<ion-nav-buttons side="right">      
</ion-nav-buttons>
        
<ion-slide-box on-slide-changed="slideChanged(index)">

    <ion-slide style=" background-color: black; opacity: 0.95;filter: alpha(opacity=95);">                                
        
        
        <h3 style="color: white;">Welcome to the Children Wizard</h3>
        
        <div id="logo">
            <img src="http://code.ionicframework.com/assets/img/app_icon.png">
        </div>
        <p style="color: white;">
            This will teach you how to register and manage your kid(s).
        </p>
        <p style="color: white;">
            Now we are going to show you how you can do it.
        </p>
        <button class="button button-positive button-clear no-animation" ng-click="next()">
            Let's begin!
        </button> 
    </ion-slide>

    <ion-slide style=" background-color: black; opacity: 0.95;filter: alpha(opacity=95);">
        <ion-content ng-controller="ChildsCtrl">
        <div ng-init="updateUnsolvedProblems()" >
            <div class="item item-divider item-text-wrap">
            <a ng-click="openModalCreate()" class="watchlist_menu button button-small button-clear button-positive">
                <i class="icon ion-plus" id="resplandorblanco"></i>                          
            </a>       
            <div class="col col-75" style="opacity: 0.3;filter: alpha(opacity=30);">            
                <h2><b>My Children</b></h2>                  
            </div>
            </div>
            <div class="row">
            <div class = "col">
                <div class="card" id="resplandorblanco">
                <div class="item item-text-wrap text-center" >
                    <h2>
                    You haven't registered a child.
                    <br> <b>PLEASE REGISTER ONE ABOVE
                    </b>
                    </h2>
                </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class = "col">
                <div class="card">
                <div class="item item-text-wrap text-center" >
                <h2>
                First of all, you will see this message on the view.
                Let's start with registering a child. </br>
                Pressing on the <b>cross</b> will open a window with fields to create a new child.</br>
                Fill them and then press on <b>create</b>.              
                </h2>
            </div>
            </div>
        </div>
        </div>
            </div>            
        </div>

        <div class="button-bar"> 
        <button class="button button-positive button-clear no-animation" ng-click="previous()">
            Go back
        </button>
        <button class="button button-positive button-clear no-animation" ng-click="next()">
            Done
        </button>                 
        </div>

        </ion-content> 
    </ion-slide>
    <ion-slide style=" background-color: black; opacity: 0.95;filter: alpha(opacity=95);">
        <ion-content ng-controller="ChildsCtrl">
            <div ng-init="updateUnsolvedProblems()" style="opacity: 0.3;filter: alpha(opacity=30);">
                <div class="item item-divider item-text-wrap">
                    <a class="watchlist_menu button button-small button-clear button-positive">
                        <i class="icon ion-plus"></i>                          
                    </a>       
                    <div class="col col-75" >            
                        <h2><b>My Children</b></h2>                  
                    </div>
                </div>            
            </div>
            
            <div class="row">
                <div class="col col-50">
                <div class="card">
                    <div class="item item-text-wrap text-center" style="opacity: 0.3;filter: alpha(opacity=30);">
                    <img class="full-image" ng-src="img/childs/boy.png" >                    
                    <h2><b>Pepe</b></h2>
                    <p><b>Birth date:</b> 17/09/2003</p>
                    </div>
                    <div class="item item-divider item-text-wrap text-center">
                    <div class="button-bar">                            
                        <div class="col col-50 button button-small button-positive" style="opacity: 0.3;filter: alpha(opacity=30);">
                        <i class="icon ion-arrow-right-b"></i>
                        </div>
                        <div class="col col-50 button button-small button-calm" id="resplandorblanco" ng-click="showActionsheet(child)">
                        <i class="icon ion-more"></i>
                        </div>
                    </div>
                    </div>
                </div>
                </div>           
                <div class="col col-50" ng-if="childs[$index+1]">             
                </div>
            </div>                  
        </div>
        
        <div class="row">
        <div class = "col">
            <div class="card">
            <div class="item item-text-wrap text-center" >
                <h2>
                We have registered a kid, Pepe. </br>
                With its <b>three points button</b> you can display the options to edit or delete the child                
                </h2>
            </div>
            </div>
        </div>
        </div>

        <div class="button-bar"> 
        <button class="button button-positive button-clear no-animation" ng-click="previous()">
            Go back
        </button>
        <button class="button button-positive button-clear no-animation" ng-click="next()">
            Got it!
        </button>                            
        </div>  

        </ion-content> 
    </ion-slide>
    <ion-slide style=" background-color: black; opacity: 0.95;filter: alpha(opacity=95);">
        <ion-content ng-controller="ChildsCtrl">
            <div ng-init="updateUnsolvedProblems()" style="opacity: 0.3;filter: alpha(opacity=30);  ">
                <div class="item item-divider item-text-wrap">
                    <a ng-click="openModalCreate()" class="watchlist_menu button button-small button-clear button-positive">
                        <i class="icon ion-plus"></i>                          
                    </a>       
                    <div class="col col-75" >            
                        <h2><b>My Children</b></h2>                  
                    </div>
                </div>            
            </div>
            
            <div class="row">
                <div class="col col-50">
                <div class="card" >
                    <div class="item item-text-wrap text-center" style="opacity: 0.3;filter: alpha(opacity=30);">
                    <img class="full-image" ng-src="img/childs/boy.png" >                    
                    <h2><b>Pepe</b></h2>
                    <p><b>Birth date:</b> 17/09/2003</p>
                    </div>
                    <div class="item item-divider item-text-wrap text-center">
                    <div class="button-bar">
                        <div class="col col-50 button button-small button-positive" style="opacity: 0.3;filter: alpha(opacity=30);">
                            <i class="icon ion-arrow-right-b"></i>
                        </div>
                        <div class="col col-50 button button-small button-calm" style="opacity: 0.3;filter: alpha(opacity=30);">
                        <i class="icon ion-more"></i>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col col-50">
                <div class="card"  >
                    <div class="item item-text-wrap text-center" style="opacity: 0.3;filter: alpha(opacity=30);">
                    <img class="full-image" ng-src="img/childs/girl.png" >                    
                    <h2><b>Juana</b></h2>
                    <p><b>Birth date:</b> 26/02/2004</p>
                    </div>
                    <div class="item item-divider item-text-wrap text-center">
                    <div class="button-bar">
                        <div class="col col-50 button button-small button-positive"  id="resplandorblanco">
                        <i class="icon ion-arrow-right-b"></i>
                        </div>
                        <div class="col col-50 button button-small button-calm" style="opacity: 0.3;filter: alpha(opacity=30);">
                        <i class="icon ion-more"></i>
                        </div>
                    </div>
                    </div>
                </div>
                </div>                         
            </div>                  
        </div>
        
        <div class="row">
        <div class = "col">
            <div class="card">
            <div class="item item-text-wrap text-center" >
                <h2>
                We have registered another kid, Juana. </br>
                With the <b>blue button with a triangle</b> that means you can change the focus on her                
                </h2>
            </div>
            </div>
        </div>
        </div>        
        
        <div class="button-bar">          
        <button class="button button-positive button-clear no-animation" ng-click="previous()">
            Go back
        </button>  
        <button class="button button-positive button-clear no-animation" ng-click="next()">
            Understood!
        </button> 
        </div>
        </ion-content> 
    </ion-slide>

    <ion-slide style=" background-color: black; opacity: 0.95;filter: alpha(opacity=95);">
        <ion-content ng-controller="ChildsCtrl">
            <div ng-init="updateUnsolvedProblems()" style="opacity: 0.3;filter: alpha(opacity=30);  ">
                <div class="item item-divider item-text-wrap">
                    <a ng-click="openModalCreate()" class="watchlist_menu button button-small button-clear button-positive">
                        <i class="icon ion-plus"></i>                          
                    </a>       
                    <div class="col col-75" >            
                        <h2><b>My Children</b></h2>                  
                    </div>
                </div>            
            </div>
            
            <div class="row">
                <div class="col col-50">
                <div class="card">
                    <div class="item item-text-wrap text-center" style="opacity: 0.3;filter: alpha(opacity=30);  ">
                    <img class="full-image" ng-src="img/childs/boy.png" >                    
                    <h2><b>Pepe</b></h2>
                    <p><b>Birth date:</b> 17/09/2003</p>
                    </div>
                    <div class="item item-divider item-text-wrap text-center">
                    <div class="button-bar">
                        <div class="col col-50 button button-small button-positive" style="opacity: 0.3;filter: alpha(opacity=30);">
                        <i class="icon ion-arrow-right-b"></i>
                        </div>
                        <div class="col col-50 button button-small button-calm" style="opacity: 0.3;filter: alpha(opacity=30);">
                        <i class="icon ion-more"></i>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col col-50">
                <div class="card" >
                    <div class="item item-text-wrap text-center" style="opacity: 0.3;filter: alpha(opacity=30);">
                    <img class="full-image" ng-src="img/childs/girl.png" >                    
                    <h2><b>Juana</b></h2>
                    <p><b>Birth date:</b> 26/02/2004</p>
                    </div>
                    <div class="item item-divider item-text-wrap text-center">
                    <div class="button-bar">
                        <div class="col col-50 button button-small button-balanced" id="resplandorblanco">
                        <i class="icon ion-arrow-right-c"></i>
                        </div>
                        <div class="col col-50 button button-small button-calm" style="opacity: 0.3;filter: alpha(opacity=30);">
                        <i class="icon ion-more"></i>
                        </div>
                    </div>
                    </div>
                </div>
                </div>                        
            </div>                  
        </div>
        
        <div class="row">
        <div class = "col">
            <div class="card">
            <div class="item item-text-wrap text-center" >
                <h2>
                We have pressed on Juana's blue button. </br> That means the <b>manage children</b> will be focus on her and not on Pepe.                
                </h2>
            </div>
            </div>
        </div>
        </div>
        
        <div class="button-bar">          
        <button class="button button-positive button-clear no-animation" ng-click="previous()">
            Go back
        </button>   
        <button class="button button-positive button-clear no-animation" ng-click="next()">
            Ok!
        </button>         
        </div>

        </ion-content> 
    </ion-slide>

    <ion-slide style=" background-color: black;">
        <div class="text-center" >
        <h3 style="color: white;">You think you are ready to start with the app?</h3>
        </div>
        <div>
        <button class="button button-positive button-clear no-animation" ng-click="goBackToChildren()" >
            I think i'm ready
        </button>
        </div>
        <div>            
        <button class="button button-positive button-clear no-animation" ng-click="watchChildrenWizard()" >
            I will look again the tutorial
        </button>
        </div>        
    </ion-slide>

</ion-slide-box>
</ion-view>